/* ----- Шрифты ----- */

@font-face {
    font-family: Mont; 
    src: url(/fonts/Mont/Mont-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Mont;
    src: url(/fonts/Mont/Mont-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Mont;
    src: url(/fonts/Mont/Mont-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: SF Pro Display;
    src: url(/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF);
    font-weight: 400;
}

@font-face {
    font-family: SF Pro Display;
    src: url(/fonts/SFProDisplay/SFPRODISPLAYMEDIUM.OTF);
    font-weight: 500;
}

@font-face {
    font-family: SF Pro Display;
    src: url(/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF);
    font-weight: 700;
}

body {
    background-color: #11161E;
    font-family: SF Pro Display;
    font-weight: 400;
    font-size: 20px;
    color: #6A7C95;
}

a {
    text-decoration: none;
    color: rgba(118, 134, 159, 0.8);
}

ul {
    list-style-type: none;
}

.tittle {
    padding-top: 120px;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700;
}

.subtittle {
    font-family: Mont;
    font-size: 28px;
    color: #FFFFFF;
}

.description {
    max-width: 750px;
}

/* ----- Wrapper ----- */
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

/* ----- Header ------ */
.header__inner {
    padding-top: 50px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

.nav__list, .nav__auth {
    display: flex;
    padding: 0 ;
}

.nav__list li {
    padding-right: 57px;
}

.nav__auth li {
    padding-left: 57px;
}

.nav__list li a:hover {
    color: #5CA35B;
    transition: 0.5s ease;
}

.nav__auth li a:hover {
    color: #5CA35B;
    transition: 0.5s ease;
}

/* ------ Banner ------ */
.banner__inner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.banner__tittle {
    padding-top: 30px;
    color: #FFFFFF;
    font-size: 62px;
    font-weight: 600;
    max-width: 600px;
}

.banner__description {
    max-width: 500px;
    font-size: 26px;
    margin-bottom: 60px;
}

.btn {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #5CA35B;
    padding: 12px 24px;
    border-radius: 10px;
}

#banner__btn:hover {
    background-color: #387936;
    transition: 0.5s ease;
}

.banner__img {
    max-width: 460px;
}

.banner__contact {
    margin-top: 150px;
    margin-bottom: 100px;
    font-weight: 500;
}

.banner__item {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.call {
    padding-left: 15px;
    font-size: 18px;
    margin-right: 40px;
}

.mail {
    padding-left: 15px;
}


/* ------ About ------ */
.about {
    background-color: #181F29;
}

.about__content {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
}

.about__item {
    border-radius: 15px;
    width: 317px;
    height: 340px;
    background-color: #273140;
    text-align: center;
}

.about__item-img {
    padding-top: 38px;
    width: 90px;
}

.about__item-description {
    font-family: Mont;
    font-size: 18px;
    max-width: 260px;
    margin: 0 auto;
}

/* ----- Benefits ----- */
#benefits__description {
    max-width: 600px;
}

.partners {
    margin-bottom: 120px;
}

.partners img {
    padding-top: 50px;
    padding-right: 50px;
}

/* Teasers */
.teasers {
    background-color: #181F29;
}

#teasers__description {
    max-width: 565px;
    margin-bottom: 60px;
}

#teasers__btn {
    font-size: 20px;
    color: #6A7C95;
    background-color: #212A38;
    padding: 14px 60px;
}

#teasers__btn:hover {
    color: #FFFFFF;
    background-color: #448a41;
    transition: 0.5s ease;
}

.teasers__inner {
    display: flex;
    justify-content: space-between;
}

.teasers__img {
    margin-top: 120px;
}

/* ----- Rates ------ */
#rates__description {
    margin-top: -20px;
    max-width: 540px;
}

.rates__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.rates__item {
    margin-top: 50px;
    width: 317px;
    height: 437px;
    background-color: #273140;
    border-radius: 15px;
    text-align: center;
    font-family: Mont;
}

.rates__item:hover {
    margin-top: 45px;
    transition: 0.5s ease;
}

#rates__item-subtittle {
    padding-top: 20px;
}

.rates__item-description {
    margin-top: -24px;
    font-size: 12px;
}

.rates__item-list {
    color: #717E92;
    padding-top: 20px;
    text-align: left;
    font-size: 16px;
    list-style-type: disc;
    line-height: 160%;
    display: table;
    margin:  0 auto;
}

.rates__item-btn {
    border: none;
    margin-top: 30px;
    color: #FFFFFF;
    background-color: #6A7395;
    display: inline-block;
    width: 248px;
    height: 38px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;

}

#rates__item-btn1:hover {
    background-color: #4e5a88;
    transition: 0.5s ease;
}

#rates__item-btn2 {
    background-color: #6A9590;
}

#rates__item-btn2:hover {
    background-color: #3a6965;
    transition: 0.5s ease;
}

#rates__item-btn3 {
    background-color: #95936A;
}

#rates__item-btn3:hover {
    background-color: #7e7b4e;
    transition: 0.5s ease;
}

/* ----- Social ------ */
.social {
    background-color: #181F29;
}

#social__description {
    max-width: 565px;
    margin-bottom: 40px;
}

.social__content {
    padding-bottom: 100px;
}

.social__content a {
    padding-right: 40px;
}

.social__content a img {
    max-width: 52px;
}

/* ----- Footer ----- */
.footer__inner {
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer__logo {
    display: flex;
}

.logo {
    padding-right: 18px;
}